<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts === 0}" >
  <div class="row">
    <div class="col-md-7">
      <h3>Titre : {{title}}</h3>
    </div>
    <div class="col-md-3 offset-md-2">
      {{created_at | date: 'short'}}
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <p>{{content}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-success" (click)="onLoveIt()">Love it</button>
    </div>
    <div class="col-sm-10">
      <button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it</button>
    </div>
  </div>
</li>
